:root {
    --phthalo-blue: rgb(0, 125, 194);
    --alizarin-crimson: rgb(227, 38, 54);
}


body {
    background-color: #e3e3e3;
}

.text-phthalo-blue {
    color: var(--phthalo-blue);
}

.text-alizarin-crimson {
    color: var(--alizarin-crimson);
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 300px; /* Cambia el valor según tu preferencia */
}