<div class="table-responsive">
    <table id="vehiclesTable" class="display table responsive">
        <thead>
            <tr>
                <th><span class="text-alizarin-crimson">Patente</span></th>
                <th><span class="text-alizarin-crimson">Marca</span></th>
                <th><span class="text-alizarin-crimson">Modelo</span></th>
                <th><span class="text-alizarin-crimson">Color</span></th>
                <th><span class="text-alizarin-crimson">Dueño(a)</span></th>
                <th><span class="text-alizarin-crimson">Teléfono</span></th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td><span class="text-phthalo-blue">{{ vehicle.registration }}</span></td>
                <td>{{ vehicle.brand }}</td>
                <td>{{ vehicle.model }}</td>
                <td>{{ vehicle.color }}</td>
                <td>{{ vehicle.owner }}</td>
                <td>{{ vehicle.phone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>