{% extends 'base/base.html' %}

{% block title %}Inicio{% endblock %}

{% block body %}

<div class="container px-5 py-4 mt-5 bg-white border rounded shadow">
    <h1 class="text-center text-phthalo-blue">Registro de Vehículos LDO</h1>
    <br>
    <p>Bienvenido(a) a este registro interno de vehículos. Por favor, utilice la tabla
        para buscar la información del vehículo correspondiente.
    </p>

    <hr>

    {% include 'web/vehicles_table.html' %}
</div>

{% endblock %}