{% extends 'base/base.html' %}

{% block title %}Inicio{% endblock %}

{% block body %}

<div class="container px-5 py-4 mt-5 bg-white border rounded shadow">
    <h1 class="text-center text-phthalo-blue">Información del Vehículo <span class="text-alizarin-crimson">{{vehicle.registration}}</span></h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p><strong class="text-alizarin-crimson">Marca: </strong>{{vehicle.brand}}</p>
        </div>
        <div class="col-md-6">
            <p><strong class="text-alizarin-crimson">Modelo: </strong>{{vehicle.model}}</p>
        </div>
        <div class="col-md-6">
            <p><strong class="text-alizarin-crimson">Color: </strong>{{vehicle.color}}</p>
        </div>
        <div class="col-md-6">
            <p><strong class="text-alizarin-crimson">Dueño(a): </strong>{{vehicle.owner}}</p>
        </div>
        <div class="col-md-6">
            <p><strong class="text-alizarin-crimson">Teléfono: </strong>{{vehicle.phone}}</p>
        </div>        
    </div>

    
</div>

{% endblock %}